PUBLIC_VAPID_KEY=BG...
VAPID_PRIVATE_KEY=...
VAPID_SUBJECT=mailto:tu@email.com
KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=
KV_URL=
REDIS_URL=
KV_REST_API_TOKEN=...
GH_PAT=github_pat_...
NOTIFY_SECRET=un-string-secreto
NOTIFY_URL=http://localhost:4321