PUBLIC_VAPID_KEY=BG...
VAPID_PRIVATE_KEY=...
VAPID_SUBJECT=mailto:tu@email.com
KV_URL=https://...upstash.io
KV_REST_TOKEN=...
KV_REST_API_URL=https://...upstash.io
GH_PAT=github_pat_...
NOTIFY_SECRET=un-string-secreto
NOTIFY_URL=http://localhost:4321